<%- include('partials/head.ejs') %>

  <body>
    <h1>ホームページ <%= 4 + 5 + 1 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam
      voluptatibus quas magni, possimus eligendi omnis corrupti, optio eum odio
      nostrum non facere et ratione. Mollitia molestias dolore beatae soluta
      pariatur.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, nihil
      accusamus assumenda velit reiciendis a accusantium quidem officiis quis
      qui aperiam, soluta voluptates, enim impedit pariatur nemo molestiae
      asperiores doloremque!
    </p>
  </body>
</html>
